:root{
    --primary: #cf3201;
    --secondary: #FF7642;
    /* --primary: #070014;
    --secondary: #00c4e8; */
    --black: #3b3b3b;
}

body {

    margin: 0;
    font-family: "Dancing", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
   
.App{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
}

a{
    text-decoration: none;
}